

<div class="row">
<div class="col">

  {{#with meta}}
    <p class="lead">{{title}}</p>
  {{/with}}

  <div class="row">
  <div class="col p-3">

    {{#each data}}
    <div class="row">
    <div class="col p-3">

      <div class="message">
        <p class="lead">{{title}}/{{id}}</p>
        {{{message}}}

        <div class="comments">
          {{#each comments}}
            <div class="comment">
              <h4>{{author}}</h4>
              {{{message}}}
            </div>
          {{/each}}
        </div>

      </div>

    </div>
    </div>
    {{/each}}

  </div>
  </div>

</div>
</div>
